.container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    :global {
        .now-show-sum {
            color: #aaa;
            margin-bottom: 10px;
        }
        .book-list-box {
            height: calc(100vh - 30px - 80px);
            overflow-y: scroll;
            .one-book-info-card {
                width: 100%;
                height: auto;
                padding: 6px;
                background: linear-gradient(40deg, #fdfffe, #cefbeb);
                border-radius: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                .book-name {
                    font-size: 18px;
                }
                .book-editor {
                    color: #aaa;
                }
                .book-publisher {
                    color: #aaa;
                }
            }
        }
    }
}
