.container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    :global {
        .one-lesson {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            font-weight: 700;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: wrap;
            transform: scale(0.97);
            user-select: none;
            .title {
                flex: 2;
            }
            .location {
                flex: 1;
            }
        }
    }
}
