.container {
    width: 100%;
    margin-top: 10%;
    padding: 50px;
    :global {
        .submit-btn {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 60%;
            height: 40px;
            transform: translateX(-50%);
            background-color: #6fcc85;
            color: #fff;
            &:hover {
                background-color: #6fcc85 !important;
                color: #fff !important;
            }
        }
    }
}
