.container {
    width: 100%;
    min-height: 100%;
    :global {
        .one-page {
            width: 100%;
            height: 95vh;
        }
    }
    :global(.slick-list) {
        height: 100%;
    }
}
