.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    :global {
        .item {
            flex: 1;
            // max-height: ;
            display: flex;
            flex-direction: column;
            align-items: center;
            .number {
                font-size: 18px;
            }
            .clock {
                color: #aaa;
            }
        }
    }
}
